body {
    font-family: Manrope, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: rgb(6, 147, 227) ;
    color: #FF5757;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 15px;
}

nav a:hover {
    background: #FF5757;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.course-part {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: rgb(6, 147, 227) ;
}

h2, h3, code {
    color: #e8491d;
}

button {
    background: #e8491d;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: #35424a;
}

#app-layout {
    display: flex;
    min-height: 70vh;
}

nav {
    min-width: 200px;
    background: rgb(6, 147, 227);
    padding: 20px 0;
    height: 100vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

nav li {
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    font-weight: 500;
    transition: background 0.2s;
}

nav a:hover {
    background: #e8491d;
}

main {
    flex: 1;
    padding: 6px 20px 0px 20px;
    background: #fff;
    min-height: 100vh;
}



section {
    margin-bottom: 20px;
    text-decoration:none;
    font-size: 16.933px;
    line-height: 26.7061px;
    letter-spacing: -0.25px;
    margin-right: 20px;
    width: 75%;
    max-width: 75%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
ul li {
    margin-bottom: 1.25em;
}

ul.prereq-list li {
    margin-bottom: 1.25em;
}

.copy-block {
    position: relative;
    margin-bottom: 0.5em;
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 0em 1em 1em 1.5em;
}

.copy-block pre {
    margin: 0;
    font-size: 1em;
    background: none;
    border: none;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break:break-all;
}

.copy-block pre code {
    white-space: pre-wrap;
    word-break: break-all;
}

.copy-btn {
    position:inherit;
    bottom: 10px;
    left: 10px;
    background: #e8491d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.3em 0.8em;
    cursor: pointer;
    font-size: 0.95em;
    transition: background 0.2s;
}

.copy-btn:hover {
    background: #35424a;
}

