swagger: "2.0"
info:
  title: cep-gw-api-list
  description: "CEP - project APIs listed here."
  contact:
    email: contact@makelabs.in
  version: "1.0.1"
host: cep-api-config-gw.an.gateway.dev
schemes:
  - "https"
paths:
  "/streamingEventV2":
    post:
      summary: "Public API. Send an event capturing live action to the streaing data source."
      description: "Write streaming event for down stream processing in the system."
      operationId: "streamingEventV2"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/streamingEvent
      parameters:
        - in: body
          name: body
          required: true
          schema:
             $ref: '#/definitions/streamingEventInput'
      responses:
        200:
          description: "Success."
        400:
          description: "The op is not supported."
        403:
          description: "Access denied."

  "/streamingEvent":
    post:
      summary: "Send an event capturing live action to the streaing data source."
      description: "Write streaming event for down stream processing in the system."
      operationId: "streamingEvent"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/streamingEvent
      parameters:
        - in: body
          name: body
          required: true
          schema:
             $ref: '#/definitions/streamingEventInput'
      responses:
        200:
          description: "Success."
        400:
          description: "The op is not supported."
        403:
          description: "Access denied."
      security:
        - api_key: []

    options:
      summary: "OPTIONS allowed."
      operationId: "streamingEventOptions"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/streamingEvent
      responses:
        200:
          description: "Success."

  "/sendEmail":
    options:
      summary: "OPTIONS allowed."
      operationId: "sendEmailOptions"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/sendEmail
      responses:
        200:
          description: "Success."
    post:
      summary: "Send an email with encompassing template."
      description: "Send email with pre defined notation, extracted from supplied token."
      operationId: "sendEmail"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/sendEmail
      parameters:
        - in: body
          name: body
          required: true
          schema:
              $ref: '#/definitions/sendEmailInput'
      responses:
        200:
          description: "Success."
        400:
          description: "The op is not supported."
        403:
          description: "Access denied."
      security:
        - cf_makelabs_cep__id_token: []
        - g_makelabs_cep_now__id_token: []

  "/labsOnboarding":
    options:
      summary: "OPTIONS allowed."
      operationId: "labsOnboardingOptions"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/labsOnboarding
      responses:
        200:
          description: "Success."
    post:
      summary: "C8 Labs onboarding for the user."
      description: "Add user to resources necessary for c8 labs with user id extracted from supplied token."
      operationId: "labsOnboarding"
      x-google-backend:
        address: https://ten20-379008-api-app-eyitjkirba-el.a.run.app/labsOnboarding
      responses:
        200:
          description: "Success."
        400:
          description: "The op is not supported or bad data."
        403:
          description: "Access denied."
      security:
        - cf_makelabs_cep__id_token: []
        - g_makelabs_cep_now__id_token: []

definitions:
  sendEmailInput:
    properties:
      to:
        type: string
      subject:
        type: string
      content:
        type: string
  streamingEventInput:
    properties:
      wappnumber:
        type: string
      username:
        type: string
      productid:
        type: string
      type:
        type: string
      img_caption:
        type: string
      img_id:
        type: string
      img_wamid:
        type: string
      img_sha256:
        type: string
      location_lg:
        type: string
      location_lt:
        type: string
      text:
        type: string

securityDefinitions:
  api_key:
      type: "apiKey"
      name: "key"
      in: "query"

  g_makelabs_cep_now__id_token:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # The value below should be unique
    x-google-issuer:    "https://securetoken.google.com/cep-now"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "cep-now"

  google__id_token:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # The value below should be unique
    x-google-issuer:    "accounts.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/oauth2/v3/certs"
    x-google-audiences: "618104708054-9r9s1c4alg36erliucho9t52n32n6dgq.apps.googleusercontent.com"

  cf_makelabs_cep__id_token:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # The value below should be unique
    x-google-issuer: "https://makelabs.cloudflareaccess.com"
    x-google-jwks_uri: "https://makelabs.cloudflareaccess.com/cdn-cgi/access/certs"
    # audience value generated by the app within CF Applications Access
    x-google-audiences: "dfa40925cc9a66d8bd02d321997389de01f40f1f55e006413926c20cfacd334f"

